<%= form_for @article, html: { class: "form-horizontal" } do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation" class="alert alert-warning" role="alert">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group">
    <%= f.label :"Title_(russian)", class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <%= f.text_field :title_rus, style: 'width:100%;', class: 'form-control' %>
    </div>
  </div>
 
  <div class="form-group">
    <%= f.label :"Title_(english)", class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <%= f.text_field :title, style: 'width:100%;', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, class: 'col-md-1 control-label' %>
    <div class="col-md-3">
      <%= f.date_field :date, class: 'form-control' %>
    </div>
  </div>
 
  <div class="form-group">
    <%= f.label :source_url, class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <%= f.text_field :src_url, style: 'width:100%;', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :"Country of origin", class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <%= f.country_select :country, { priority_countries: %w(RU BR IN CN ZA), prompt: ''}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :author, class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <%= f.text_field :author, style: 'width:100%;', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category, class: 'col-md-1 control-label' %>
    <div class="col-md-3">
      <%= f.select :category, [
        '',
        'международные отношения',
        'экономика',
        'внутренняя политика',
        'мир труда',
        'документы',
        'другие материалы',
        'international relations',
        'investment and finance',
        'political events',
        'world of work',
        'documents',
        'other materials'
      ], {}, { :class => 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :keywords, class: 'col-md-1 control-label' %>
    <div class="col-md-3">
      <%= f.select :keywords, options_for_select([
	'unclear', 
	'concluded_agreements', 
	'expert_opinion', 
	'fas', 
	'foreign_ministers_meeting', 
	'healthcare', 
	'imf', 
	'mofa', 
	'movie', 
	'ndb', 
	'obor', 
	'off_docs', 
	'rating', 
	'research', 
	'sergey_lavrov', 
	'speech', 
	'terrorism', 
	'top_level_meeting', 
	'trade_relations', 
	'un', 
	'vladimir_putin', 
	'wang_yi', 
	'wto', 
	'xi_jinping', 
	'xiamen_summit', 
	'bio', 
	'quotation'
	]), {}, {:class => 'form-control', :multiple => true, :size => 10} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :keywords2, class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <%= f.text_field :keywords2, style: 'width:100%;', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :relevance, class: 'col-md-1 control-label' %>
    <div class="col-md-3">
      <%= f.select :rel, [
        '',
        '0',
        '1',
        '2',
        '3',
        '4',
        '5'
      ], {}, { :class => 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :text, class: 'col-md-1 control-label' %>
    <div class="col-md-11">
      <%= f.text_area :text, :rows => 20, style: 'width:100%;', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-1 col-md-offset-1">
      <%= f.submit :Submit, class: 'btn btn-primary btn-block' %>
    </div>
  </div>

<% end %>