<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= form_tag embed_articles_path, :enforce_utf8 => false, :method => 'get', :class => 'form-inline'  do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: 'form-control input-sm' %>
        </div>
        <div class="form-group">
          <%= submit_tag "Search", :name => nil, class: 'btn btn-primary btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive">
      <br>
      <table class="table-borderless table-striped table-condensed">
        <tr>
          <th width="3%">ID</th>
          <th width="40%">Title (russian)</th>
          <th width="40%">Title (english)</th>
          <th>Date</th>
        </tr>

        <% @articles.each do |article| %>
          <tr>
            <td>
              <%= article.id %>
            </td>
            <td>
              <%= link_to article.title_rus, article_path(article) %>
            </td>
            <td>
              <%= link_to article.title, article_path(article) %>
            </td>
            <td>
              <%= article.date %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= will_paginate @articles %>
    </div>
  </div>
</div>