<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>


<h1>Listing entries</h1>

<%= link_to 'New entry', new_article_path %>
<br><br>
<table>
  <tr>
    <th>ID</th>
    <th>Title (russian)</th>
    <th>Title (english)</th>
    <th>Date</th>
    <th>Source</th>
    <th>Country</th>
    <th>Category</th>
    <th>Keywords</th>
    <th>Language</th>
    <th colspan='3'>Controls</th>
  </tr>

  <%= form_tag articles_path, :enforce_utf8 => false, :method => 'get' do %>
    <tr>
      <th></th>
      <th><%= text_field_tag :title_rus, params[:title_rus] %></th>
      <th><%= text_field_tag :title, params[:title] %></th>
      <th><%= date_field_tag :date, params[:date] %></th>
      <th><%= text_field_tag :src_url, params[:src_url] %></th>
      <th><%= select_tag :country, options_from_collection_for_select(@countries, 'name', 'name', params[:country]), :include_blank => true %></th>
      <th><%= select_tag :category, options_for_select([
      '',
      'международные отношения',
      'экономика',
      'внутренняя политика',
      'мир труда',
      'документы',
      'другие материалы',
      'international relations',
      'investment and finance',
      'political events',
      'world of work',
      'documents',
      'other materials'], params[:category]) %></th>
      <th><%= text_field_tag :keywords, params[:keywords] %></th>
      <th><%= select_tag :lang, options_for_select(['', 'rus', 'eng'], params[:lang]) %></th>
      <th colspan ='3'><%= submit_tag "Filter", :name => nil %></th>
    </tr>
  <% end %>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title_rus %></td>
      <td><%= article.title %></td>
      <td><%= article.date %></td>
      <td><%= link_to URI(article.src_url).host, article.src_url %></td>
      <td><%= article.country %></td>
      <td><%= article.category %></td>
      <td><%= article.keywords %></td>
      <td><%= article.lang %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>
<%= will_paginate @articles %>
<br><br>

<h1>Sphinx search</h1>

<br><br>
<%= form_tag articles_path, :enforce_utf8 => false, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<br><br>
<table>
  <tr>
    <th>ID</th>
    <th>Title (russian)</th>
    <th>Title (english)</th>
    <th>Date</th>
    <th>Source</th>
    <th>Country</th>
    <th>Category</th>
    <th>Keywords</th>
    <th>Language</th>
    <th colspan='3'>Controls</th>
  </tr>

  <% @results.each do |result| %>
    <tr>
      <td><%= result.id %></td>
      <td><%= result.title_rus %></td>
      <td><%= result.title %></td>
      <td><%= result.date %></td>
      <td><%= link_to URI(result.src_url).host, result.src_url %></td>
      <td><%= result.country %></td>
      <td><%= result.category %></td>
      <td><%= result.keywords %></td>
      <td><%= result.lang %></td>
      <td><%= link_to 'Show', article_path(result) %></td>
      <td><%= link_to 'Edit', edit_article_path(result) %></td>
      <td><%= link_to 'Delete', article_path(result),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>
<%= will_paginate @results %>