<div class="container-fluid">
<br>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover">
      <tbody>
        <tr>
          <td><strong>Title (russian):</strong></td>
          <td><%= @article.title_rus %></td>
        </tr>

        <tr>
          <td><strong>Title (english):</strong></td>
          <td><%= @article.title %></td>
        </tr>

        <tr>
          <td><strong>Date:</strong></td>
          <td><%= @article.date %></td>
        </tr>

        <tr>
          <td><strong>Link:</strong></td>
          <td><%= link_to URI(@article.src_url).host, @article.src_url %></td>
        </tr>

        <tr>
          <td><strong>Country:</strong></td>
          <td><%= @article.country %></td>
        </tr>

        <tr>
          <td><strong>Author:</strong></td>
          <td><%= @article.author %></td>
        </tr>

        <tr>
          <td><strong>Category:</strong></td>
          <td><%= @article.category %></td>
        </tr>

        <tr>
          <td><strong>Keywords:</strong></td>
          <td><%= @article.keywords %></td>
        </tr>

        <tr>
          <td><strong>Keywords 2:</strong></td>
          <td><%= @article.keywords2 %></td>
        </tr>

        <tr>
          <td><strong>Relevance:</strong></td>
          <td><%= @article.rel %></td>
        </tr>

        <tr>
          <td><strong>Text:</strong></td>
          <td><%= @article.text %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Edit', edit_article_path(@article) %> |
      <%= link_to 'Back', articles_path %>
    </div>
  </div>

</div>