<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<%= javascript_tag do %>
     google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawSeriesChart);

    function drawSeriesChart() {

      var data = google.visualization.arrayToDataTable($('.temp_information').data('temp'));

      var options = {
        title: 'Карты многомерного шкалирования совместной встречаемости' +
               'ключевых слов по всему информационному массиву?????',
        hAxis: {title: 'Relevance'},
        vAxis: {title: 'Y'},
        bubble: {textStyle: {fontSize: 11}}
      };

      var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
      chart.draw(data, options);
    }
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-6"><h1>Welcome to BRICS database!</h1></div>
  </div>
  <div class="row">
    <div class="col-6"><h3><%= link_to 'Go to Database', controller: 'articles' %></h3></div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= form_tag articles_path, :enforce_utf8 => false, :method => 'get', :class => 'form-inline'  do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: 'form-control input-sm' %>
        </div>
        <div class="form-group">
          <%= submit_tag "Search", :name => nil, class: 'btn btn-primary btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-6"><h4>Total texts in Bulletin<h4></div>
    <div class="col-6"><h4>Количество текстов, помещённых в Бюллетень<h4></div>
  </div>
  <div class="row">
    <div class="col-6"><h5>Eng<h5></div>
    <div class="col-6"><h5>Rus<h5></div>
  </div>
  <div class="row">
    <div class="col-6"><%= line_chart @articles.where(:lang => 'eng').group_by_month(:date, last: 6).count.map { |x,y| { x => (@sume += y)}}.reduce({}, :merge), curve: false %></div>
    <div class="col-6"><%= line_chart @articles.where(:lang => 'rus').group_by_month(:date, last: 6).count.map { |x,y| { x => (@sumr += y)}}.reduce({}, :merge) %></div>
  </div>
  <div class="row">
    <div class="col-12"><h5>Eng Texts spread by subject (monthly slice)<h5></div>
    <div class="col-12"><%= column_chart @articles.where(:lang => 'eng').group(:category).order('category desc').group_by_month(:date, last: 6).count, colors: ["violet", "blue", "green", "yellow", "orange", "red"], stacked: true %></div>
  </div>
  <div class="row">
    <div class="col-12"><h4>Rus Распределение текстов по тематическим разделам (месячный разрез)<h4></div>
    <div class="col-12"><%= column_chart @articles.where(:lang => 'rus').group(:category).order('category desc').group_by_month(:date, last: 6).count, colors: ["violet", "blue", "green", "yellow", "orange", "red"], stacked: true %></div>
  </div>
  <div class="row">
    <div class="col-6"><h4>Total Bulletin entries by category (total)</h4></div>
    <div class="col-6"><h4>Количество текстов по тематическим разделам Бюллетеня (всего)</h4></div>
  </div>
  <div class="row">
    <div class="col-6"><h5>Eng<h5></div>
    <div class="col-6"><h5>Rus<h5></div>
  </div>
  <div class="row">
    <div class="col-6"><%= pie_chart @articles.where(:lang => 'eng').group(:category).count, colors: ["red", "orange", "yellow", "green", "blue", "violet"], legend: "right" %></div>
    <div class="col-6"><%= pie_chart @articles.where(:lang => 'rus').group(:category).count, colors: ["red", "orange", "yellow", "green", "blue", "violet"], legend: "right" %></div>
  </div>
  <div class="row">
    <div class="col-6"><div id="series_chart_div" style="width: 900px; height: 500px;"></div>
  </div>
  <div class="col-6">
	<%= form_tag root_path, :enforce_utf8 => false, :method => 'get' do  %>
		<%= select_tag :kw1, options_for_select(@keywordslst, params[:kw1]), :prompt => "Please select" %>
		<%= select_tag :kw2, options_for_select(@keywordssel, params[:kw2]), :prompt => "Please select" %>
		<%= select_tag :kw3, options_for_select(@keywordslst, params[:kw3]), :prompt => "Please select" %>
		<%= select_tag :range, options_for_select(@period, params[:range]), :prompt => "Please select" %>
		<%= text_field_tag :search, params[:search], class: 'form-control input-sm' %>
		<%= submit_tag :count %>
	<% end %>
	<%= @testing.total_entries %><br />
	
	<%= form_tag root_path, :enforce_utf8 => false, :method => 'get' do  %>
	<%= text_field_tag :search2, params[:search2], id: "keywords", data: { role: 'tagsinput'} %>
    	<%= javascript_tag do %>
        TagsInput('#keywords', "<%= root_url %>keywords.json")
    	<% end %>
	<%= submit_tag :submit %>
	<% end %>
	<%= @keywordslst %>

        <%= form_tag root_path, :enforce_utf8 => false, :method => 'get' do  %>
	<%= text_field_tag :search3, params[:search3] %>
	<%= submit_tag :submit %>
	<% end %>

        <%= content_tag :div, class: "temp_information", data: {temp: @graph} do %>
        <% end %>
	
	<div class="col-xs-6"><%= bar_chart @testingref, height: '1000px' %></div>
  </div>
</div>