<%= javascript_tag do %>
     google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawSeriesChart);

    function drawSeriesChart() {

      var data = google.visualization.arrayToDataTable($('.temp_information').data('temp'));

      var options = {
        title: 'Карта совместной встречаемости ключевых слов по всему информационному массиву',
        bubble: {textStyle: {fontSize: 8}},
	hAxis: { baselineColor: '#000', gridlineColor: '#fff', textPosition: 'none' },
	vAxis: { baselineColor: '#000', gridlineColor: '#fff',textPosition: 'none' }
      };

      var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
      chart.draw(data, options);
    }
<% end %>

<div class="container-fluid">

  <div class="row">
    <div class="col-6">
      <%= form_tag articles_path, :enforce_utf8 => false, :method => 'get', :class => 'form-inline'  do %>
        <div class="form-group">
          <h4>Поиск по базе БРИКС</h4>
          <%= text_field_tag :search, params[:search], class: 'form-control input-sm' %>
        </div>
        <div class="form-group">
          <%= submit_tag "Поиск", :name => nil, class: 'btn btn-primary btn-sm' %>
        </div>
      <% end %>
    </div>
    <div class="col-1 offset-5">
      <h4><%= link_to 'Перейти на английский', :index %></h4>
    </div>
  </div>

      <div class="row">
        <div class="col-12">
	      <%= form_tag index_rus_path, :enforce_utf8 => false, :method => 'get' do  %>
            <h4>Постройте диаграмму взаимной встречаемости ключевых слов</h4>
            <%= text_field_tag :search2, params[:search2], id: "keywords", data: { role: 'tagsinput'} %>
            <%= javascript_tag do %>
              TagsInput('#keywords', "<%= root_url %>keywords.json")
            <% end %>
	        <%= submit_tag "Построить", class: 'btn btn-primary btn-sm' %>
	      <% end %>
          <br>

          <%= content_tag :div, class: "temp_information", data: {temp: @graph} do %><% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12"><div id="series_chart_div" style="width: 100%; height: 800px;"></div></div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <div class="row">
        <div class="col-12"><h4>Количество текстов, помещённых в Бюллетень</h4></div>
      </div>
      <div class="row">
        <div class="col-12"><%= line_chart @articles.where(:lang => 'rus').group_by_month(:date, last: 6).count.map { |x,y| { x => (@sumr += y)}}.reduce({}, :merge) %></div>
      </div>
      <div class="row">
        <div class="col-12"><h4>Распределение текстов по тематическим разделам (месячный разрез)</h4></div>
        <div class="col-12"><%= column_chart @articles.where(:lang => 'rus').group(:category).order('category desc').group_by_month(:date, last: 6).count, colors: ["violet", "blue", "green", "yellow", "orange", "red"], stacked: true %></div>
      </div>
      <div class="row">
        <div class="col-12"><h4>Количество текстов по тематическим разделам Бюллетеня (всего)</h4></div>
	    <div class="col-12"><%= pie_chart @articles.where(:lang => 'rus').group(:category).count, colors: ["red", "orange", "yellow", "green", "blue", "violet"], legend: "right" %></div>
      </div>
  
</div>