<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-6"><h1>Welcome to BRICS database!</h1></div>
  </div>
  <div class="row">
    <div class="col-xs-6"><h3><%= link_to 'Go to Database', controller: 'articles' %></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-6"><h4>Total Bulletin entries by category</h4></div>
    <div class="col-xs-6"><h4>Количество текстов по тематическим разделам Бюллетеня</h4></div>
  </div>
  <div class="row">
    <div class="col-xs-6">Eng</div>
    <div class="col-xs-6">Rus</div>
  </div>
  <div class="row">
    <div class="col-xs-6"><%= pie_chart @articles.where(:lang => 'eng').group(:category).count %></div>
    <div class="col-xs-6"><%= pie_chart @articles.where(:lang => 'rus').group(:category).count %></div>
  </div>
  <div class="row">
    <div class="col-xs-6"><h4>Total texts in Bulletin<h4></div>
    <div class="col-xs-6"><h4>Количество текстов, помещённых в Бюллетень<h4></div>
  </div>
  <div class="row">
    <div class="col-xs-6">Eng</div>
    <div class="col-xs-6">Rus</div>
  </div>
  <div class="row">
    <div class="col-xs-6"><%= line_chart @articles.where(:lang => 'eng').group_by_month(:date, last: 12).count.map { |x,y| { x => (@sume += y)}}.reduce({}, :merge) %></div>
    <div class="col-xs-6"><%= line_chart @articles.where(:lang => 'rus').group_by_month(:date, last: 12).count.map { |x,y| { x => (@sumr += y)}}.reduce({}, :merge) %></div>
  </div>
  <div class="row">
    <div class="col-xs-6"><h4>Keyword frequency diagrams<h4></div>
    <div class="col-xs-6"><h4>Частотные диаграммы встречаемости ключевых слов<h4></div>
  </div>
  <div class="row">
    <div class="col-xs-6">Eng</div>
    <div class="col-xs-6">Rus</div>
  </div>
  <div class="row">
    <div class="col-xs-6"><%= bar_chart @articles.where(:lang => 'eng').group(:keywords).count %></div>
    <div class="col-xs-6"><%= bar_chart @articles.where(:lang => 'rus').group(:keywords).count %></div>
  </div>
  <div class="row">
    <div class="col-xs-12"><h4>Карты многомерного шкалирования совместной встречаемости ключевых слов по всему информационному массиву?????<h4></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
<%= scatter_chart [
    { name: "Keyword1", data: [[1025,53]]},
    { name: "Keyword2", data: [[1050,79]]},
    { name: "Keyword3", data: [[1100,86]]},
    { name: "Keyword4", data: [[1006,85]]},
    { name: "Keyword5", data: [[1000,80]]},
    { name: "Keyword6", data: [[1050,79]]}
] %></div>
  </div>
</div>