<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<%= javascript_tag do %>
     google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawSeriesChart);

    function drawSeriesChart() {

      var data = google.visualization.arrayToDataTable([
        ['ID', 'Relevance', 'Y', 'Keyword',     'Frequency'],
        ['KW1',    10,       1, 'keyword one',    70],
        ['KW2',     9,       1, 'keyword two',    47],
        ['KW3',    5,       1, 'keyword three',   95],
        ['KW4',    4,       1, 'keyword four',    63],
        ['KW5',    8,       1, 'keyword five',    60],
        ['KW6',    7,       1, 'keyword six',     100],
        ['KW7',    7,       1, 'keyword seven',   110]
      ]);

      var options = {
        title: 'Correlation between life expectancy, fertility rate ' +
               'and population of some world countries (2010)',
        hAxis: {title: 'Relevance'},
        vAxis: {title: 'Y'},
        bubble: {textStyle: {fontSize: 11}}
      };

      var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
      chart.draw(data, options);
    }
<% end %>



<div id="main-container" class="container">
  <div class="row">
    <div class="col-md-6"><h1>Welcome to BRICS database!</h1></div>
  </div>
  <div class="row">
    <div class="col-md-6"><h3><%= link_to 'Go to Database', controller: 'articles' %></h3></div>
  </div>
  <div class="row">
    <div class="col-md-6"><h4>Total texts in Bulletin<h4></div>
    <div class="col-md-6"><h4>Количество текстов, помещённых в Бюллетень<h4></div>
  </div>
  <div class="row">
    <div class="col-md-6">Eng</div>
    <div class="col-md-6">Rus</div>
  </div>
  <div class="row">
    <div class="col-md-6"><%= line_chart @articles.where(:lang => 'eng').group_by_month(:date, last: 6).count.map { |x,y| { x => (@sume += y)}}.reduce({}, :merge), curve: false %></div>
    <div class="col-md-6"><%= line_chart @articles.where(:lang => 'rus').group_by_month(:date, last: 6).count.map { |x,y| { x => (@sumr += y)}}.reduce({}, :merge) %></div>
  </div>
  <div class="row">
    <div class="col-md-12">Eng</div>
    <div class="col-md-12"><%= column_chart @articles.where(:lang => 'eng').group(:category).group_by_month(:date, last: 6).count, stacked: true %></div>
  </div>
  <div class="row">
    <div class="col-md-12">Rus</div>
    <div class="col-md-12"><%= column_chart @articles.where(:lang => 'rus').group(:category).group_by_month(:date, last: 6).count, stacked: true %></div>
  </div>
  <div class="row">
    <div class="col-md-6"><h4>Total Bulletin entries by category</h4></div>
    <div class="col-md-6"><h4>Количество текстов по тематическим разделам Бюллетеня</h4></div>
  </div>
  <div class="row">
    <div class="col-md-6">Eng</div>
    <div class="col-md-6">Rus</div>
  </div>
  <div class="row">
    <div class="col-md-6"><%= pie_chart @articles.where(:lang => 'eng').group(:category).count %></div>
    <div class="col-md-6"><%= pie_chart @articles.where(:lang => 'rus').group(:category).count %></div>
  </div>
  <div class="row">
    <div class="col-md-6"><h4>Keyword frequency diagrams<h4></div>
    <div class="col-md-6"><h4>Частотные диаграммы встречаемости ключевых слов<h4></div>
  </div>
  <div class="row">
    <div class="col-md-6">Eng</div>
    <div class="col-md-6">Rus</div>
  </div>
  <div class="row">
    <div class="col-md-6">disabled</div>
    <div class="col-md-6">disabled</div>
  </div>
  <div class="row">
    <div class="col-md-12"><h4>Карты многомерного шкалирования совместной встречаемости ключевых слов по всему информационному массиву?????<h4></div>
  </div>
  <div class="row">
    <div class="col-md-12"><div id="series_chart_div" style="width: 900px; height: 500px;"></div>
  </div>
</div>